body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
h1 {
  font-size:50px;
}

.pet-image {
  background-image: url("https://i.imgur.com/ZprI0Ni.jpg");
  background-color: #cccccc;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.petful-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


section.animal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  width: 100%;
  min-height: 200px;
  padding: 6% 0;
  
}

